@model NovusConceptum.Models.ForumViewModels.ForumViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Titre</h2>

<div>
    <h4>@Model.Description</h4>
    <hr />

    @Html.ActionLink("Répondre", "CreatePost", new { id = p.ID }) @:|

    <table>
        <thead>
            <tr>
                <th>
                    Auteur |
                </th>
                <th>
                    Messages |
                </th>
                <th>
                    Date |
                </th>
                <th>
                    Actions |
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Posts != null)
            {
                @foreach (Post p in Model.Posts)
                {
                    <tr>
                        <td>
                            @p.Auteur
                        </td>
                        <td>
                            @p.Message
                        </td>
                        <td>
                            @p.Date
                        </td>
                        <td>
                            @if (true)//si admin genre
                            {
                                @Html.ActionLink("Modifier", "EditPost", new { id = p.ID }) @:|
                                @Html.ActionLink("Supprimer", "DeletePost", new { id = p.ID }) @:
                        }
                        </td>
                        
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID}) |
    <a asp-action="Index">Retour aux sujets</a>
</div>
