@model IEnumerable<NovusConceptum.Models.ForumViewModels.ForumViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Auteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dernier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreMessages)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Titre, "Details", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur)<br />
                @Html.DisplayFor(modelItem => item.DateCréation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dernier)<br />
                @Html.DisplayFor(modelItem => item.DateModifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMessages)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new {  id=item.ID }) |<br />
                @Html.ActionLink("Supprimer", "Delete", new {  id=item.ID})
            </td>
        </tr>
}
    </tbody>
</table>
