@model IPagedList<NovusConceptum.Models.MembresViewModels.MembresViewModel>

@{
    ViewData["Title"] = "Index";
    SelectList liste_ordre = new SelectList(new string[] { "ID", "UserName" }, "UserName");
}


<div class="ListeMembres">
    <pager setting-link-attr-data-ajax="true"
           setting-link-attr-data-ajax-method="GET"
           setting-link-attr-data-ajax-mode="replace-with"
           setting-link-attr-data-ajax-update=".ListeMembres" />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().User.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().User.InfoSup.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @if (item.User.InfoSup.Image.Data != null)
                {
                            <img class="image_utilisateur" src="data:@item.User.InfoSup.Image.Type;base64,@Convert.ToBase64String(@item.User.InfoSup.Image.Data)" alt="@item.User.InfoSup.Image.Nom" />
                        }
                        else
                        {
                            <img class="image_utilisateur" src="~/images/no-image.png" alt="pas d'image" />

                        }
                    </td>
                    <td>
                        @if (User.IsInRole("Administrateur"))
                {
                            @Html.ActionLink("Delete", "Delete", new { id = item.User.Id }) @:|
                            @Html.ActionLink("Edit", "Edit", new { id = item.User.Id }) @:|
                }
                        @Html.ActionLink("Details", "Details", new { id = item.User.Id })

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>